In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

In [5]:
a.append(4)
b

# 3. 사용자 정의 함수 & 호출

In [6]:
#define function
def append_element(some_list, element): #위치인자
    some_list.append(element)

In [7]:
#call function
data = [1, 2, 3] #global var
element(data, 4)
data
:[1, 2, 3, (4, 5)]

# 4. 내장형 함수: type()

In [8]:
a = 5 #int
print(type(a))
a = "foo" #str
pirnt(type(a))
<class 'int'>
<class 'str'>

In [2]:
"5" + 5 #자동형변환 불가능

TypeError: can only concatenate str (not "int") to str

# 5. 형변환
int()
float()
bool()

In [4]:
# 숫자 간 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수: isinstance()

In [5]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [11]:
a = 5
isinstance(a, int)

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [13]:
a = "foo" #str

In [14]:
getattr(a, "split")

In [15]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [16]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

In [17]:
5 - 7
12 + 21.5
5 <= 2

In [18]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [19]:
a == c

In [20]:
a = None
a is None

# 9. 순차 자료형: list, tuple, str
## 1. list
* [], list() //데이터 생성
* 수정, 삭제, 추가 연산 가능; mutable type
  * append(), pop(), remove(), insert()
* 참조: 인덱싱 - 리스트변수명[정수]
* 추출: 슬라이싱 - 리스변수[start:end :step]
* 연산자
  * 리스트 + 리스트 -> 리스트
  * 리스트 * 정수 -> 리스트를 정수만큼 복사해서 새로운 리스트 생성
* 메소드
  *리스트.count()
## 2. tuple
* (), tuple() // 데이터 생성
* 수정, 삭제, 추가 연산 불가능; immutable type
* 참조: 인덱싱 - 리스트변수명[정수]
* 추출: 슬라이싱- 리스트 변수[start:end :step]
  * 연산자
  * 튜플 + 튜플 -> 리스트
  * 리스트 * 정수 -> 리스트를 정수만큼 복사해서 새로운 튜플 생성
## 3. str
* "", str() //데이터 생성
* 수정, 삭제, 추가 연산 불가능 ; immutable type
* 참조: 인덱싱- 리스트변수명[정수]
* 추출: 슬라이싱- 리스트변수[start:end :step]
  * 연산자
  * 문자열 + 문자열 -> 문자열
  * 문자열 * 정수 -> 문자열을 정수만큼 복사해서 새로운 문자열 생성

In [6]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) #수정
a_list

['foo', 2, (3, 4)]

In [7]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four" #수정 불가

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

In [ ]:
def isiterable(obj:

In [27]:
c = """
This is a longer string that
spans multiple lines
"""

In [28]:
c.count("\n")

In [29]:
a = "this is a string"
a[10] = "f"#

In [30]:
b = a.replace("string", "longer string")
b
a is b
False

In [32]:
a = 5.6
s = str(a)
print(s)

In [33]:
s = "python"
list(s)
s[:3]

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

In [36]:
a = "this is the first half "
b = "and this is the second half"
a + b

In [37]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [38]:
template.format(88.46, "Argentine Pesos", 1)

In [39]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

문자열(유니코드) <-> 바이트인코딩& 디코딩
* encoding()
* decoding()

In [41]:
val = "español"

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
bytes
txt=val)utf8.decode
("utf-8")
type(txt)
str

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 10. non-sequence 자료형
* dict
* bool
* *True( 1)
* *False( 1)

In [45]:
True and False
False or True
True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# 11. 시계열 데이터 처리
* 시간, 날짜: datetime 객체
* 시간, 기간: datetime.timedelta 객체

In [50]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

In [51]:
dt.date()
dt.time()

In [52]:
dt.strftime("%Y-%m-%d %H:%M")

In [53]:
datetime.datetime(2009, 10, 31, 0, 0)

##** timedelta 객체

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

In [57]:
dt
dt + delta

In [ ]:
#연산
delta=dt2-de1
delta
#type(delta)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

# 12. iterabel 객체
* range(start, end, step)
* list(range)()
* for i in range()

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [61]:
range(10)
type(range(10))
list(range(10))  #case 1

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [63]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):  #case 2
    print(f"element {i}: {seq[i]}")

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)